// modal-wrapper {
//   background: transparent !important;
// }

// .main-view {
//   background: transparent;
//   width: 95%;
//   margin: auto;
// }

// .overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 1;
//   opacity: 1;
//   background: rgba(0, 0, 0, 0.91);
// }

// .modal_content {
//   display: block;
//   position: fixed;
//   top: calc(50% - (75%/2));
//   width: 100%;
//   padding: 10px;
//   z-index: 1;
//   margin: 0 auto;
//   padding: 10px;
//   left: 0px;
// }

// .closemodal {
//   font-size: 12px;
//   position: absolute;
//   right: 14px;
//   top: 16px;
// }

// .light-blue {
//   color: #3288d0;
//   font-family: 'Latomedium';
//   font-size: 14px;
//   padding-bottom: 1rem;
// }

// .login-with {
//   color: #949393;
//   border: 1px solid #c4c4c4;
//   width: 123px;
//   margin: 0px auto;
//   padding: 4px 3px;
//   border-radius: 8px;
//   background: #ffffff;
// }

// .socio-icons-block {
//   justify-content: space-around;
//   padding-bottom: 5px;
//   display: inline-flex;

//   .facebook-icon {
//     width: 42px;
//     height: 42px;
//     border-radius: 5px;
//     background-color: #3b5998;
//     margin: 32px 0px 18px auto;

//     img {
//       padding: 2px;
//       width: 33px !important;
//       margin-top: 4px;
//     }
//   }

//   .google-plus-icon {
//     width: 42px;
//     height: 42px;
//     border-radius: 5px;
//     background-color: #dd4b39;
//     margin: 32px 0px 18px auto;
//     margin-left: 10px;

//     img {
//       padding: 2px;
//       width: 33px !important;
//       height: 23px;
//       margin-top: 10px;
//       margin-left: 3px;
//     }
//   }

// }

// .blue-snackbar {
//   background: #2196F3;
// }

// .button {
//   --background: #ebb134 !important;
//   --color: #000000;
//   --vertical-align: middle;
//   --padding-start: 10px;
//   --padding-end: 10px;
//   --padding-left: 10px;
//   --padding-right: 10px;
//   height: 40px;
//   --background-activated: #ebb134;
//   --color-activated: #0000;
// }

// .btn-margin {
//   margin: 20px 0;
//   font-family: 'latoregular';
// }

.email_text{
  font-family: Latomedium;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  line-height: 17px;
  color: #898888;
  margin: 8px 0px 15px 0px;
  padding: 0px 7px 0px 11px;
}

// //  /deep/ .ios button button-block button-solid ion-activatable ion-focusable{
// //   --background :#ebb134 !important;
// // }


// // /deep/ .sc-ion-modal-md-h sc-ion-modal-md-s md hydrated show-modal {
// //   /deep/ .modal-wrapper md sc-ion-modal-md {
// //     opacity: 0.95 !important;
// //   }
// // }



// // for Loginwith divider //
// .container {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
// }

// .line {
//   flex: 1;
// }

// .account {
//   padding-top: 5px;
// }

// ion-grid {
//   background: white;
// }

// ion-item {
//   background: white;
// }

// .mt-10 {
//   margin-top: 8px;
// }

// .top-border-radius {
//   border-radius: 10px 10px 0 0;
//   display: flex;
//     justify-content: space-around;
//     position: relative;
//     padding: 15px 0px 12px 0px;
//     align-items: center;
// }

// .bottom-border-radius {
//   border-radius: 0 0 10px 10px
// }

// .bdd {
//   color: #7E7C7C;
//   font-family: 'latoregular';
//   font-size: 12px;
//   margin-top: 7px;
//   display: inline-block;
//   margin-left: 3px;
// }

// .custom-label {
//   color: #4E4B4B;
//   font-family: latosemibold !important;
//   font-size: 12px;
// }

// .font-blck {
//   text-decoration: underline;
//   font-size: 14px;
//   color: #4F95E8;
// }

// /deep/ .mat-form-field-infix {
//   font-size: 14px;
//   color: #898888;
//   font-family: latomedium;
// }

// //   font-family: 'latoregular';
// //   font-size: 12px;
// //   margin-top: 5px;
// //   display: inline-block;
// //   margin-left: 1px;

// // }
// .custom-label {
//   color: #4E4B4B;
//   font-family: 'latoregular';
// }

// .input_field_custom {
//   margin-top: 10px;

//   input.inputText:focus~.floating-label,
//   input.inputText:not(:focus):valid~.floating-label {
//     top: 11px;
//     bottom: 10px;
//     left: 12px;
//     font-size: 9.5px;
//     opacity: 1;
//     background: #fff;
//     height: fit-content;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     padding: 0px 4px;
//     color: #3f51b5;

//   }

//   .inputText {
//     width: 100%;
//     height: 45px;
//     font-family: 'Lato', sans-serif;
//     font-size: 16px;
//     border-radius: 6px;
//     border: 1px solid #ccc;
//     padding-left: 9px;
//     padding-top: 5px;
//     outline: none;
//     color: #000000;
//     padding-right: 17px;
//     text-overflow: ellipsis;
//     background: unset;
//   }

//   .floating-label {
//     position: absolute;
//     pointer-events: none;
//     left: 20px;
//     top: 29px;
//     font-size: 12px;
//     -webkit-transition: 0.2s ease all;
//     transition: 0.2s ease all;
//     letter-spacing: .3px;
//     color: #898888;
//   }

//   .invalidError {
//     span {
//       font-size: 11px;
//       margin-left: 7px;
//       margin-top: 4px;
//       display: block;
//       margin-bottom: 10px;
//     }
//   }
// }

// /deep/ .cdk-overlay-container {
//   .guestloginbackdrop{
//     background: rgba(0,0,0,.91)!important;
//   }
//   .guestloginbackdrop + .cdk-global-overlay-wrapper {
//     align-items: center !important;
//   }
//   .guestloginpanel{
//     min-width: 95vw;
//   }
// }
// // app-guest-login{
// //   display: flex;
// //   justify-content: center;
// //   align-items: stretch;
// //   overflow: scroll !important;
// // }
// // .new_guest_login{
// //   --background: rgba(0,0,0,.91)!important;
// // }
// /deep/ .sc-ion-modal-ios-h.new_guest_login{
//   --background: rgba(0, 0, 0, 0.91) !important;
// }
// .guestlogin_email /deep/ .mat-form-field-wrapper{
//   padding-bottom: 12px
// }
// input.mat-input-element{
//   color: #000;
// }
// .main-view form{
//   padding: 0px 5px;
// }






.light-blue{
  color: #3288d0;
 font-family: 'latosemibold';
 font-size: 14px;
}
.login-with{
color: #949393;
border: 1px solid #c4c4c4;
width: 123px;
margin: 0px auto;
padding: 4px 3px;
border-radius: 8px;
background: #ffffff;
justify-content: center;
display: flex;
font-family: latosemibold;
}

.agree{
text-align: center;
background: white;
}
.feature{
text-align: center; 
background: white;
}
ion-row{
background:white;
}

.socio-icons-block{
  justify-content: center;
  padding-bottom: 5px;
  display: flex;
  // css added  text-align: center;
  // width: 100%;
  // display: flex //
  .facebook-icon{
    width: 42px;
    height: 42px;
    border-radius: 5px;
     background-color: #3b5998;
     margin: 42px 0 25px 0;       
     img{
         padding: 3px;
         width: 17px!important;
         margin-left: 13px;
         margin-top: 6px;
     }
 }

 .google-plus-icon{
      width: 42px;
      height: 42px;
      border-radius: 5px;
      background-color: #dd4b39;
      margin: 42px 0 25px 0;
      margin-left: 9px;

     img{
      width: 29px!important;
      height: 19px;
      margin-top: 12px;
      margin-left: 7px;
     }
 }
// end //
}
// for checkbox  //
.text-check{
font-family: 'Latosemibold';
 padding: 5px;
font-size: 12px;
color: #9A9797;
p{
  margin-top: 0px;
  padding-left: 25px;
}
span{font-family: 'Latosemibold';}
}
.Login p{font-size:13px;}

// end //
ion-item{
--background:white;
--border-color: #ffff;
}
.list-spacing{margin: 20px 0;}
.button {
--background :#F4B50B !important;
--color: #000000;
--vertical-align: middle;
--padding-start: 10px;
--padding-end: 10px;
--padding-left:10px;
--padding-right:10px;
--box-shadow: none;
  font-family: latomedium;
  font-size: 14px;
  --border-radius: 5px;
  width: 94%;
  text-align: center;
  margin: 6px 0px 20px 10px;
  height: 50px;

}

/deep/ .ios button button-block button-solid ion-activatable ion-focusable{
--background :#ebb134 !important;
}
ion-card-subtitle{
text-align: center;
}
.check-box{
margin-inline-end: 10px !important;
}
.exclusive{
padding: 0px;
border: 0.1px solid rgba(227, 227, 227, 1);
border-radius: 0px 0px 10px 10px;
background: #ffffff;
.text-font{
font-size: 12px;  font-family: 'Latosemibold';
}
.icons{ 
margin-left: 10px; margin-right: 15px;
}
}


// for divider //
.container {
width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.line {
flex: 1;
}

.text {
padding-left: 10px;
padding-right: 10px;
}
.backArrow{
margin-left: 10px;
}
.title{
font-size: 16px;
text-align: center;
}

@media only screen and (max-width: 400px){
.title{
  padding: 0px 10px;
  font-size: 16px;
  text-align: center;
}
}
.profile{
  padding: 0px;
  border: 0.1px solid  rgba(227, 227, 227, 1);;
  border-bottom: 1px solid white;
  border-top:1px solid white;
  //
  .form-group{
    padding: 2px 10px;

  }
  mat-error{
    margin-top: 12px;
    display: flex;
    font-size: 10px
  }
  .check{
    padding-bottom: 10px;
  }
  .checkbox-font{font-family:latomedium;}
}
.header{
border-radius: 10px 10px 0px 0px;
padding: 10px;
border: 0.1px solid  rgba(227, 227, 227, 1);;
border-bottom: 0.5px solid  rgba(227, 227, 227, 1);
color: rgba(0, 0, 0, 1)
}
.social{
padding: 0px;
border-radius: 0px 0px 20px 20px;
.text {
  padding: 0px;
}
}

.signup{
background: white;
  border-radius: 10px 10px 0px 0px;
  border: 0.1px solid rgba(227, 227, 227, 1);;
  border-bottom: 1px solid rgba(227, 227, 227, 1);;
}
.Login{
justify-content: center;
  padding-bottom: 5px;
  display: flex;
}


.custom-card{
box-shadow: none!important;
border: 1px solid gainsboro;
border-radius: 13px;
.call-us{ font-family: 'latomedium';  }
}
//////////
.font-blck{text-decoration:underline;}
.Login p{color:#B1A7A7; font-family: latomedium;}

.register_user{
.form-group{
  margin-bottom: 10px;
}
/deep/  .mat-form-field{
/deep/ .mat-form-field-wrapper{
    padding-bottom: 1px !important;
  }
}
}

/deep/ ion-modal.new_guest_login{
  .guestSignUpLogin {
      background: #f2f3f2;
      overflow: scroll;
  }
  // .modal-wrapper{
  //    .ion-page{
         
  //     }
  // }
}



.main-view{
  width: 100%;
}

.signup-underline {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #4F95E8;
  color: #4F95E8;
  font-family: 'latosemibold';
  font-size: 13px;
}