<ion-content>
  <ion-header>
    <ion-toolbar color="custom-color-red">
      <ion-buttons slot="start">
        <img class="backArrow" src="assets/icon/backarrowtop.svg" (click)="goBack()" />
      </ion-buttons>
      <ion-title text-center class="title">Welcome to Travelwings!</ion-title>
    </ion-toolbar>
  </ion-header>
  


  <ion-card class="custom-card" *ngIf="verifiedUser">
    <ion-card-header>
      <ion-card-subtitle text-center>Please enter your New Password to proceed</ion-card-subtitle>
    </ion-card-header>

    <ion-grid class="new_password"  >
      <form [formGroup]="newPasswordForm" >
        <h1 class="password_heading fntcls">Please enter the new password.</h1>
        <ion-row>
          <ion-col size="12" offset-sm="3">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label class="fntcls">New Password</mat-label>
                <input type="password" [errorStateMatcher]="matcher" matInput formControlName="password"
                  placeholder="New Password" autocomplete="off"  minlength="5" class="fntcls">
                <mat-error [ngStyle]="{'margin-top': newPasswordForm.controls.password?.errors.data?.message ? '0px' : ''}"
                  *ngIf= "newPasswordForm.controls.password.errors && ( newPasswordForm.controls.password.dirty ||  newPasswordForm.controls.password.touched) ">
                  {{ newPasswordForm.controls.password.errors.required?.message}}
                  {{newPasswordForm.controls.password?.errors.data?.message}}
                </mat-error>
              </mat-form-field>
            </div>
          </ion-col>
          <ion-col size="12" offset-sm="3">
            <div class="form-group" style="margin-top:6px;">
              <mat-form-field appearance="outline">
                <mat-label class="fntcls">Confirm Password</mat-label>
                <input type="password" [errorStateMatcher]="matcher" matInput formControlName="confirmPassword"
                  placeholder="Confirm Password" autocomplete="off" class="fntcls">
                <mat-error
                  *ngIf="newPasswordForm.controls.confirmPassword.errors && ( newPasswordForm.controls.confirmPassword.dirty ||  newPasswordForm.controls.confirmPassword.touched) ">
                  {{ newPasswordForm.controls.confirmPassword.errors.required?.message}}
                </mat-error>
                <mat-error 
                *ngIf="newPasswordForm.controls.confirmPassword.errors?.compare && newPasswordForm.controls.confirmPassword.dirty && !newPasswordForm.controls.confirmPassword.errors.required?.message">
                
                {{ newPasswordForm.controls.confirmPassword.errors?.compare?.message}}
                
              </mat-error>
                
              </mat-form-field>
            </div>
            </ion-col>

            <ion-col size="12" style="margin-bottom: 5px;">
              <div *ngIf="verifiedUser">
                <ion-button style="margin: 10px 0px;" (click)="submit()"  class="buttons button-native2" expand="block"> SUBMIT</ion-button>
            </div>
            </ion-col>

         </ion-row>
     
      </form>
      <!-- <pre>
          {{newPasswordForm.valid }}
          {{  newPasswordForm.controls.password.errors | json}}
          {{  newPasswordForm.controls.confirmPassword.errors | json}}
      </pre> -->
    </ion-grid>
  </ion-card>
  <!-- <ion-footer class="footer" *ngIf="verifiedUser">
    <ion-button  (click)="submit()"  class="buttons button-native2" expand="block"> SUBMIT</ion-button>
</ion-footer> -->
</ion-content>

<div class="loader_new_pass" *ngIf="loading">
  <p>
    <ion-spinner name="lines"></ion-spinner>Loading ...
  </p>
</div>

