<ion-content scroll="false">
  <ion-header>
    <ion-toolbar color="custom-color-red">
      <ion-buttons slot="start"  class="aro-bck">
        <img
          class="backArrow"
          src="assets/icon/backarrowtop2.svg"
          (click)="backTo()"
        />
      </ion-buttons>
      <ion-title class="pwd-change-font" text-center>{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="custom-card" style="margin-bottom: 100px;">
    <ion-card-header>
      <ion-card-subtitle class="change-font">Change Password</ion-card-subtitle>
    </ion-card-header>
    <!--form start here-->
    <form class="setting_form" [formGroup]="changePasswordForm">
      <ion-grid class="profile register_user">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3" style="padding-bottom: 7px;">
            <!-- <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="userAlias" placeholder="Email">
                  <mat-error *ngIf="submitted && f.currentPassword.errors" class="invalidError">
                    <span f.currentPassword.errors.required>Email is Required !</span> 
                  </mat-error>
                </mat-form-field>
              </div> -->

            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Old Password</mat-label>
                <input 
                  type="password"
                  matInput
                  formControlName="currentPassword"
                  placeholder="Enter Old Password"
                  maxlength="15"
                />

                <mat-error style="margin-top: unset;"
                  class="invalidError"
                  *ngIf="
                    changePasswordForm.controls.currentPassword?.errors &&
                    (changePasswordForm.controls.currentPassword?.dirty ||
                      changePasswordForm.controls.currentPassword.touched)
                  "
                >
                  <span>Old Password is required!</span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input 
                  type="password"
                  matInput
                  formControlName="newPassword"
                  placeholder="Enter New Password"
                  maxlength="15"
                />
                <mat-error style="margin-top: unset;"
                  class="invalidError"
                  *ngIf="
                    changePasswordForm.controls.newPassword?.errors &&
                    (changePasswordForm.controls.newPassword?.dirty ||
                      changePasswordForm.controls.newPassword.touched)
                  "
                >
                  <span
                    *ngIf="
                      changePasswordForm.controls.newPassword?.errors?.required
                    "
                    style="margin-bottom: 10px;"
                    >New Password is required!</span
                  >
                </mat-error>
                <mat-error
                  style="margin-top: -2px; line-height: 9px;"
                  class="invalidError"
                  *ngIf="
                    changePasswordForm.controls.newPassword?.errors &&
                    (changePasswordForm.controls.newPassword?.dirty ||
                      changePasswordForm.controls.newPassword.touched)
                  "
                >
                  <span
                    *ngIf="
                      changePasswordForm.controls.newPassword?.errors?.pattern
                    "
                    >Password should be between 5 and 15 character & combination
                    of one uppercase letter, one number!</span
                  >
                </mat-error>
              </mat-form-field>
              <!-- <pre>
              {{f.newPassword.errors | json}}
            </pre> -->
            </div>

            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input 
                  type="password"
                  matInput
                  formControlName="confirmPassword"
                  placeholder="Confirm Password"
                  maxlength="15"
                />
                <mat-error style="margin-top: unset;"
                  class="invalidError"
                  *ngIf="
                    changePasswordForm.controls.confirmPassword?.errors &&
                    (changePasswordForm.controls.confirmPassword?.dirty ||
                      changePasswordForm.controls.confirmPassword.touched)
                  "
                >
                  <span
                    *ngIf="
                      changePasswordForm.controls.confirmPassword?.errors
                        ?.required
                    "
                    >Confirm Password is required!</span
                  >
                  <span
                    *ngIf="
                      changePasswordForm.controls.confirmPassword?.errors
                        ?.mustMatch
                    "
                    >New Password and Confirm Password should be same!</span
                  >
                </mat-error>
              </mat-form-field>
              <!-- <pre>
              {{f.confirmPassword.errors | json}}
            </pre> -->
            </div>

            <!-- 

               <mat-error *ngIf="!regForm.controls['password'].valid && regForm.controls['password'].touched || submitted" class="invalidError">
            <span>Password should be between 5 and 15 character & combination of one uppercase letter, one number!</span>
          </mat-error> 

            <mat-error *ngIf="submitted && registration.verifyPassword.errors" class="invalidError">
            <span *ngIf="registration.verifyPassword?.errors?.mustMatch">Password and confirm password should be
              same!</span><br>

            <span *ngIf="!registration.verifyPassword?.errors?.mustMatch">
              <span
                *ngIf="!regForm.controls['verifyPassword'].valid && regForm.controls['verifyPassword'].touched || submitted">
                Password is required, must be between 5 and 15 characters.
              </span>
            </span>


          </mat-error>
       -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>

  <ion-row style="position: fixed; bottom: 0px; width: 100%;">
    <ion-col size-sm="6" offset-sm="3" text-center>
      <button
        matRipple
        type="button"
        class="button yello-btn-all"
        (click)="changePassword()"
        expand="block"
      >
        CHANGE PASSWORD
      </button>
    </ion-col>
  </ion-row>
</ion-content>

<!-- <mat-error class="invalidError" *ngIf="submitted && changePasswordForm.controls.currentPassword?.errors && (changePasswordForm.controls.currentPassword?.dirty || changePasswordForm.controls.currentPassword.touched)">
  <span >Old Password is Required !</span> 
</mat-error> -->
