//  .button {
//    --background :#F4B50B !important;
//   --color: #000000;
//   --vertical-align: middle;
//   --padding-start: 10px;
//   --padding-end: 10px;
//    margin:10px;
//   --padding-right:10px;
//   margin-bottom: 2px;
//   --background-activated:#ebb134;
//   height: 50px;
//   margin-top: 75% !important;

// }
.footer {
  position: absolute !important;
  bottom: 11px;
  width: 100%;
}
.ios button button-block button-solid ion-activatable ion-focusable {
  --background: #ebb134 !important;
}

.blue-snackbar {
  background: #2196f3;
}
::ng-deep {
  .warning {
    background: #000000 !important;
    color: #ffffff !important;
    font-size: 16px !important;
    font-family: "latobold";
  }
}
.ios button button-block button-solid ion-activatable ion-focusable {
  --background: #f4b50b !important;
}
ion-grid {
  background: white;
  margin-bottom: 10px;
}

.backArrow {
  margin-left: 10px;
  padding-top: 4px;
}

.button-native2 {
  box-shadow: none !important;
  font-family: "latoregular" !important;
}
.setting_form {
  // margin-top: 10px;
  margin-bottom: -12px;
}
/deep/ .footer-md:before {
  background-image: none !important;
}
ion-card-header {
  padding: 12px 0px 0px 27px !important;
}
body {
  min-height: 500px;
}
.pwd-change-font {
  color: #fff;
  font-family: "latomedium";
  font-size: 16px;
}
ion-toolbar {
  width: 100%;
  text-align: center;
}
.change-font {
  color: #000000;
  font-family: "latomedium";
  font-size: 16px;
  text-transform: none;
  margin-bottom: 11px;
}
/deep/.mat-form-field-label {
  font-family: latomedium !important;
}
.aro-bck {
  position: absolute;
}
.mat-form-field-infix {
  padding: 11px 0px 16px !important;
}