<ion-content text-center >
    <ion-header>
        <ion-toolbar color="custom-color-red">
          <ion-buttons slot="start" class="aro-bck">
              <img class="backArrow" src="assets/icon/backarrowtop2.svg" (click)= "goBack()"/>
            </ion-buttons>
          <ion-title text-center class="title">{{ title }}</ion-title>
        </ion-toolbar>
      </ion-header>
  <ion-card class="custom-cardcustom-card">
    <ion-card-header>
      <ion-card-subtitle>Please enter your Email ID to proceed</ion-card-subtitle>
    </ion-card-header>
    <!--form start here-->
    <form  [formGroup]="forGotUserForm" >
      <ion-grid class="profile register_user ">          
              <p class="emailText">Please enter the email address you signed up with and we'll send you a password link. </p>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <!-- <h3 class="password_reset" *ngIf="passwordStatus != undefined" color="ligh-grey">{{passwordStatus?.statusMessage == 'Verification Link is expire' ? verificationExpireLinkmsg : passwordStatus?.statusMessage}}</h3> -->
            <div class="form-group">
                <mat-form-field appearance="outline">
                <mat-label>Enter Email ID</mat-label>
                <input  trimdirective matInput  placeholder="Enter Email ID" name="email" formControlName="forgotEmail"  #username>
                <div  class="invalidErrorForgot ">
                  <span  *ngIf="submitted && (f.forgotEmail.errors?.required)" >Email id is required.</span>
                  <span  *ngIf="submitted && (f.forgotEmail.errors?.pattern && !f.forgotEmail.errors?.maxlength)" >Email id is invalid.</span>  
                  <span *ngIf="f.forgotEmail.errors?.maxlength">
                    Email id should have maximum 45 characters.
                  </span>
                 </div>
                </mat-form-field>
               <!-- <pre>
                 {{f.forgotEmail?.errors | json}}
               </pre> -->
            </div>
         
          </ion-col>
        </ion-row>
        <ion-row></ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3" text-center>
               <button matRipple (click)="forgotUser()" type="submit"  class="button yello-btn-all forgot-mrgn" expand="block" >
               SEND REQUEST
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <!--form end here-->
    <ion-grid text-center>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <div class="container">
              <div class="line"><mat-divider style="border-top-color: #D8D8D8;"></mat-divider></div>
              <div class="text mat-typography"><p class="login-with">Or login with</p></div>
              <div class="line"><mat-divider style="border-top-color: #D8D8D8;"></mat-divider></div>
            </div>
          <ion-text>
            <div class="socio-icons-block">
              <div class="facebook-icon" >
                <img (click)= "signInWithFB()" src="assets/homePageIcons/fb.png"/>
              </div>
              <div class="google-plus-icon">
                <img (click)= "signInWithGoogle()" src="assets/homePageIcons/google.png"/>
              </div>
            </div>
          </ion-text>
          <ion-text >
            <p class="acnt-text">Don't have an account?
            <a class="font-blck" (click) ="signup()"> SIGN UP</a>
            </p>
            </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>

<!-- <ngx-spinner bdOpacity=0.2 bdColor="rgba(9,9,9,0.81)" size="medium" color="#fff" type="ball-pulse-sync"
[fullScreen]= "true">
<p style="color: #fff">Please Wait... </p> 
</ngx-spinner> -->