.footer-menu{
    //  ion-tab-bar{
    //     background-color: #222222!important;
    //  }
     ion-tab-button{
        background-color: #222222;
        width: 100%;
        .active,footer-label:hover {
            color: #ebc334;
           } 
    }
    .footer-label{
        color: #fff; 
        text-transform: uppercase;
        padding-top: 5px;
        font-size: 9px;
        font-family: latosemibold; 
    }
     .more-clr{
        color: #ebc334;
        text-transform: uppercase;
         padding-top: 5px;
        font-size: 9px;
        font-family: latosemibold; 
     }
     .more-pad{
        padding-top: 1px !important;
     }
     .footer-icon-label{
        color: #fff;
     }
   ion-icon{
    width: 23px;
    height: 23px;
   }
   .more-option-img{
    width: 30px !important;
    height: 26px !important;
   }

    //   .active,ion-icon:hover {
    //     color: #ebc334;
    //    } 
}
.active { 
    color: #ebc334;
}
ion-tab-bar{
    background-color: #222222!important;
 }

 .ios_footer{
    padding: 8px 0px 11px 0px;
    height: 55.8px;
 }