<div class="header">
  <p class="fontcls">
   Profile Picture
  </p>

<img (click)="closePopup(0)" class="close_icon" src="assets/icons/modalclose_icon.svg" alt="close">
</div>
<div style="height: 8px;">
<div *ngIf="loading == 1">  <ion-progress-bar type="indeterminate"></ion-progress-bar> </div>
</div>
<!-- <button (click)="zoomOut()">Zoom -</button>
<button (click)="zoomIn()">Zoom +</button>  -->
<div  [ngClass]="{'scroll_height': croperHeight < 400,height_fixed: croperHeight > 400 }">
<div class="divcls"  [ngClass]="{'cls': imageChangedEvent}">
  <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [containWithinAspectRatio]="containWithinAspectRatio"
      [aspectRatio]="4 / 4"
      [resizeToWidth]="96"
      [cropperMinWidth]="128"
      [cropperMinHeight]="128"
      [cropperMaxWidth]="128"
      [cropperMaxHeight]="128"
      [onlyScaleDown]="false"
      [roundCropper]="true"
      [canvasRotation]="canvasRotation"
      [transform]="transform"
      [alignImage]="'center'"
      [style.display]="showCropper ? null : 'none'"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady($event)"
      (loadImageFailed)="loadImageFailed()"></image-cropper>
     
</div>
<!-- <mat-slider min="1" max="5" step="0.1" (input)="onInputChange($event)" [(ngModel)]="sliderVal"  *ngIf="flag==1"></mat-slider> -->
<div class="divcls"  style="margin-bottom: 22px; margin-top: 18px;">
<!-- <label class="custom-file-upload"  style="vertical-align: top; padding: 13px 10px 10px 10px;">
  <input type="file" (change)="fileChangeEvent($event)" (click)=" change_button();" accept="image/png,image/gif,image/jpeg"/>
   {{flag != 1?"Add Image":"Change Image"}}
</label> -->

<input type="file" (change)="fileChangeEvent($event)" hidden #cropImageFileInput (click)=" change_button();" accept="image/png,image/gif,image/jpeg"/>
<div style="margin-bottom:5px;">
  <button matRipple type="button" (click)="rotateLeft();loading=1" *ngIf="flag==1"  class="Rotataeleftbtn"><img src="assets/images/rleft.png" style="height:24px;width:24px"></button> 
  <button matRipple type="button" (click)="rotateRight();loading=1" *ngIf="flag==1"   class="Rotataerightbtn"><img src="assets/images/rright.png" style="height:24px;width:24px"></button> 
  </div>
<button matRipple type="button" (click)="cropImageFileInput.click()" class="custom-file-upload">{{flag != 1?"Add Image":"Change Image"}}</button>

<button matRipple type="button" expand="block" class="custom-file-upload" (click)="closePopup(1)" *ngIf="flag==1">Crop</button>
</div>
</div>



