<div class="footer-link-block">
    
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <div class="footer-link">
                    <h4 class="footer-title">Useful Links</h4>
                </div>
                <!-- <ion-item>
                    <a class="link-first">About Us</a>

                </ion-item> -->
                <ion-item>
                    <a class="link-first" href="https://www.travelwings.com/termsofservices/United%20Arab%20Emirates" target="_blank">Terms of Services</a>
                </ion-item>
                <ion-item>
                    <a class="link-first" href="https://www.travelwings.com/privacystatement/United%20Arab%20Emirates" target="_blank">Privacy Statement</a>

                </ion-item>
                <ion-item>
                    <a class="link-first" href="https://www.travelwings.com/faq/United%20Arab%20Emirates" target="_blank">FAQ</a>

                </ion-item>
            </ion-col>
            <ion-col size="6">
                <div class="footer-link">
                    <h4 class="footer-title">Customer Support</h4>
                </div>
                <ion-item>
                    <a class="link" href="https://www.travelwings.com/whyUs/United%20Arab%20Emirates"  target="_blank">Why Us</a>

                </ion-item>
                <ion-item>
                    <a class="link" (click) = "toSupport()">Contact Us</a>

                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="top-border">
        <ion-row>

            <ion-col size="12" class="copyright-text">
                <p>&copy; Copyright {{footerYear}} Travelwings. All Rights Reserved</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>