<ion-grid class="custom-card profile register_user">
  <!-- <div *ngIf="islogin">
    <ion-badge color="danger" *ngIf="Property"  (click)="opensheet()">Select From Travellers </ion-badge>
  </div> -->
  <div class="form-sart">
    <form [formGroup]= "addInfantform" class="passengerDetails">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <div class="traveller_title_details">
            <span class="title">Title</span>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle value="mr"
                [ngClass]="{'mat-button-toggle-checked': addInfantform.controls.tittle?.value == '3'}"
                (click)= "getTittle($event,3)">Miss</mat-button-toggle>

              <mat-button-toggle value="ms"
                [ngClass]="{'mat-button-toggle-checked': addInfantform.controls.tittle?.value == '4'}"
                (click)= "getTittle($event, 4)">Master</mat-button-toggle>

              <!-- <mat-button-toggle value="mrs" [ngClass]="{'mat-button-toggle-checked': addInfantform.controls.tittle?.value == 'mrs'}"
               (click)="getTittle($event, 'mrs')">Mrs.</mat-button-toggle> -->
            </mat-button-toggle-group>
          </div>

          <input type="text" required style="display:none" formControlName="tittle">
          <div class="warning_alert" *ngIf="addInfantform.controls.tittle?.errors">
            {{addInfantform.controls.tittle?.errors.required?.message}}
          </div>


          <input type="text" style="display:none" name="type" formControlName="type">
          <input type="text" style="display:none" name="userImage" formControlName="userImage">
          <input type="text" style="display:none" name="travllerid" formControlName="travellerid">
          <input type="text" style="display:none" name="getIsTravellerSelected" formControlName="getIsTravellerSelected">
          <input type="text" style="display:none" name="travellerDataNew" formControlName="travellerDataNew">
        
         

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input trimdirective type="text" [errorStateMatcher]="matcher" matInput placeholder="First Name" autocomplete="off"
                formControlName="firstName" >
                <mat-error
                *ngIf="
                  addInfantform.controls.firstName?.errors &&
                  (addInfantform.controls.firstName?.dirty ||
                    addInfantform.controls.firstName.touched)">
                {{ addInfantform.controls.firstName?.errors?.required?.message }}
                {{ addInfantform.controls.firstName?.errors.alpha?.message }}             
                <!-- {{!addInfantform.controls.firstName?.errors.alpha?.message ? addInfantform.controls.firstName?.errors.minlength ? 'First name should have minimum 3 characters' : '' : '' }}                 -->
               <!-- {{!addInfantform.controls.firstName?.errors.alpha?.message ? addInfantform.controls.firstName?.errors.minlength ? 'First name' + char_limit_3_20 : '' : '' }}
               {{addInfantform.controls.firstName?.errors?.maxLength ?  'First name' + Char_max_length_20 : ''  }} -->
              </mat-error>

            </mat-form-field>
            <span class="err" *ngIf="addInfantform.controls.firstName?.valid && totalLength > dataFlight">
              Combination of Adult (Title + First Name + Last Name) + Infant (Title + First Name + Last Name + D.O.B) should not be more than {{dataFlight}} characters.
            </span>
          </div>
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input trimdirective type="text" [errorStateMatcher]="matcher" matInput placeholder="Last Name"
                formControlName="lastName">
                <mat-error
                *ngIf="
                  addInfantform.controls.lastName?.errors &&
                  (addInfantform.controls.lastName?.dirty ||
                    addInfantform.controls.lastName.touched)">
                {{ addInfantform.controls.lastName?.errors?.required?.message }}
                {{ addInfantform.controls.lastName?.errors.alpha?.message }}
                <!-- {{!addInfantform.controls.lastName?.errors.alpha?.message ? addInfantform.controls.lastName?.errors.minlength ? 'Last name should have minimum 3 characters' : '' : ''  }} -->
                <!-- {{!addInfantform.controls.lastName?.errors.alpha?.message ? addInfantform.controls.lastName?.errors.minlength ? 'Last name' + char_limit_3_20 : '' : ''  }}
                {{addInfantform.controls.lastName?.errors?.maxLength ?  'Last name' + Char_max_length_20 : ''  }} -->
              </mat-error>

            </mat-form-field>
            <!-- <span class="err" *ngIf="addInfantform.controls.lastName?.valid && totalLength >= dataFlight">
              Combination of Infant (Title + First Name + Last Name + D.O.B) + Adult (Title + First Name + Last Name) should not be more than {{dataFlight}} characters.
            </span> -->
          </div>
          <div class="form-group">
          
            <mat-form-field appearance="outline">
              <mat-label>Date of Birth ( dd/mm/yyyy ) </mat-label>
              <input type="tel" autocomplete="off" 
              matInput formControlName="dob"
              placeholder="Date of Birth ( dd/mm/yyyy )" 
              [textMask]="dateMaskOptions" 
              />
              <mat-error *ngIf= "addInfantform.controls.dob?.errors && (addInfantform.controls.dob?.dirty || addInfantform.controls.dob.touched) ">
                {{addInfantform.controls.dob?.errors.required?.message}}
                {{addInfantform.controls.dob?.errors.maxDate?.message}}
                {{addInfantform.controls.dob?.errors.minDate?.message}}
              
                {{!addInfantform.controls.dob?.errors.required?.message ? addInfantform.controls.dob?.errors?.pattern?.message : ''}}
              </mat-error>
            </mat-form-field>
          </div>
          <!-- <div class="form-group">
            <ion-row>
              <ion-col size="4" class="isd-code">
                
                <div class=" travellet_details no-crt travellerFiedCoutry nationality_field" (click)="openCountryList('isdCode', addInfantform.controls.isdCode?.value)">
                  <mat-form-field appearance="outline">
                    <mat-label>ISD Code</mat-label>
                    <input type="text" readonly [errorStateMatcher]="matcher" matInput placeholder="ISD Code"
                      formControlName="isdCode">
                    <mat-error class="ml-9"
                      *ngIf="addInfantform.controls.isdCode?.errors && (addInfantform.controls.isdCode.dirty || addInfantform.controls.isdCode.touched) ">
                      {{addInfantform.controls.isdCode?.errors.required?.message}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </ion-col>

              <ion-col size="8" class="mob-section">
                <mat-form-field appearance="outline">
                  <mat-label>Mobile Number</mat-label>
                  <input trimdirective type="tel" minlength="7" [errorStateMatcher]="matcher" matInput placeholder="Mobile Number" 
                    formControlName="mobileNo">
                    <mat-error
                    *ngIf="
                      addInfantform.controls.mobileNo?.errors &&
                      (addInfantform.controls.mobileNo?.dirty ||
                        addInfantform.controls.mobileNo.touched)
                    "
                  >
                    {{
                      addInfantform.controls.mobileNo?.errors?.required?.message
                    }}
                    {{ addInfantform.controls.mobileNo?.errors.numeric?.message }}
                    {{addInfantform.controls.mobileNo?.errors.maxLength ? 'Mobile no should have maximum 11 digits.' : '' }}
                    <span class="phone_number_validation">
                      {{!addInfantform.controls.mobileNo?.errors.numeric?.message ? addInfantform.controls.mobileNo?.errors.minlength ? 'Mobile number ' + phn_limit_7_11 : '' : ''  }}
                    </span>
                  </mat-error>
                </mat-form-field>
              </ion-col>
            </ion-row>
          </div> -->
          <div class="form-group" *ngIf="valInfant['passportValidation'] == true">
            <mat-form-field appearance="outline">
              <mat-label>Passport Number</mat-label>
              <input trimdirective matInput  [errorStateMatcher]="matcher" placeholder="Passport Number" formControlName="passportNo" />
              <mat-error class="ml-9  "
              *ngIf="addInfantform.controls.passportNo?.errors && (addInfantform.controls.passportNo.dirty || addInfantform.controls.passportNo.touched) ">
              {{addInfantform.controls.passportNo?.errors.required?.message}}
              {{
                addInfantform.controls.passportNo?.errors
                  ?.alphaNumeric?.message
              }}
              {{addInfantform.controls.passportNo?.errors.maxLength ? 'Passport no should have maximum 9 characters.' : '' }}
            </mat-error>
            </mat-form-field>
          </div>
          <!-- [showMaskTyped]="true" -->
          <div class="form-group" *ngIf="valInfant['passportValidation'] == true">
            <mat-form-field appearance="outline">
              <mat-label>Expiry Date ( dd/mm/yyyy ) </mat-label>
              <input type="tel" autocomplete="off" 
              matInput formControlName="passportExpiryDate"
              placeholder="Expiry Date ( dd/mm/yyyy )"  
              [textMask]="dateMaskOptions" 
              />
              <mat-error 
                *ngIf="addInfantform.controls.passportExpiryDate?.errors && (addInfantform.controls.passportExpiryDate.dirty || addInfantform.controls.passportExpiryDate.touched) ">
                {{addInfantform.controls.passportExpiryDate?.errors.required?.message}}
                {{addInfantform.controls.passportExpiryDate?.errors.minDate?.message}}
                {{addInfantform.controls.passportExpiryDate?.errors?.pattern?.message}}
              </mat-error>
              <div class="passport_warning" *ngIf="addInfantform.controls.passportExpiryDate?.valid && iswarning" >
                <div tooltip="Your Passport will expire very soon!!" tooltip-class="customClassTooltip" placement="top" show-delay="100">
                  <img src="assets/info_red.png" alt="info">
                </div>
              </div>
              <div class="passport_warning" 
              *ngIf="addInfantform.controls.passportExpiryDate?.errors?.minDate?.message && addInfantform.controls.passportExpiryDate?.value?.length == 10">
                <div tooltip="Your Passport is expired!!" tooltip-class="customClassTooltip" placement="top"
                  show-delay="100">
                  <img src="assets/info_red.png" alt="info">
                </div>
              </div>
            </mat-form-field>

          </div>
        
          <!-- <ion-item class="nationality caretIcon" (click)= "openCountryList('nationality', addInfantform.controls.nationality?.value )">
            <ionic-selectable class="pointer_none"  placeholder="Nationality" item-content formControlName="nationality" itemTextField="countryName" [items]="newCountryList"
              [canSearch]= "true">
              <ng-template ionicSelectableSearchFailTemplate>
                  <div padding>
                    No Country found.
                  </div>
                </ng-template>
            </ionic-selectable>
          </ion-item> -->
          <div class="form-group no-crt nationality_field travelleretails_nationality" 
          (click)= "openCountryList('nationality', addInfantform.controls.nationality?.value )" *ngIf="valInfant['nationalityValidation'] == true">
          <mat-form-field appearance="outline" class="fontcls">
            <mat-label>Nationality</mat-label>
            <mat-select formControlName="nationality">
              <mat-option *ngFor="let country of newCountryList" [value]="country?.countryId">
                {{ country?.countryName }}
              </mat-option>
            </mat-select>
            <mat-error class="ml-9"
              *ngIf="addInfantform.controls.nationality?.errors && (addInfantform.controls.nationality.dirty || addInfantform.controls.nationality.touched) ">
              {{addInfantform.controls.nationality?.errors.required?.message}}
            </mat-error>
          </mat-form-field>
        </div>

          <div class="form-group remember-trvlr" *ngIf= "loggedTrue == 'true' && !addInfantform.controls.getIsTravellerSelected.value ">
            <ion-toggle class="travellerRemember" [disabled]="!addInfantform.valid || (totalLength > dataFlight)" [checked]="checkedToggle"
              (ionChange) = "rememberTraveller($event, addInfantform)"></ion-toggle>
            <label for="remeberTraveller">
              Remember a Traveller
            </label>
          </div>
       
        </ion-col>

      </ion-row>
    </form>
  </div>
</ion-grid>
<!-- index ==>{{indexinfant}} -->
<!-- {{addInfantform?.valid}}
{{addInfantform?.value | json}}
{{addInfantform?.dirty}}
{{addInfantform?.touched}} 
{{addInfantform.controls.nationality.dirty}} -->