.button-native2 {
    box-shadow: none !important;
    font-family: 'latoregular' !important;
}

.button {
    --background: #ebb134 !important;
    --color: #000000;
    --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-left: 10px;
    --padding-right: 10px;
    height: 50px;
    --background-activated: #ebb134;
    --color-activated: #000000;
}

.ios button button-block button-solid ion-activatable ion-focusable {
    --background: #ebb134 !important;
}

.success_password {
    width: 239px;
    // height: 205px;
    text-align: center;

    .success_heading {
        color: rgba(0, 0, 0, 1);
        font-size: 18pt;
    }

    .success_para {
        color: rgba(137, 136, 136, 1);
        font-size: 14pt;
        font-family: 'latoregular' !important;
    }
    .success_icon{
        position: absolute;
        width: 67px;
        top: -34px;
        left: 38%;
        z-index: 100000;
    }
}