<section [ngStyle]="{'height': !invalidEmail ? '72px' : ''}" style="height: 72px;">
  <img (click)="closePopup()" class="close_icon" src="assets/icons/modalclose_icon.svg" alt="close">
  <div *ngIf="!isValidEmailRegistered" class="success_forgot_password ion-justify-content-center ion-align-items-cente">
    <img *ngIf="invalidEmail" style="height: 36px;" src="assets/icon/green_tick.svg" class="success_icon" alt="success">
    <img *ngIf="!invalidEmail" style="height: 30px;" src="assets/icon/invalid_email.svg" alt="invalid email">
    <p class="success_para" *ngIf="resetPara != ''">{{resetPara}}</p>
  </div>

  <div *ngIf="isValidEmailRegistered">
    <p *ngIf="!emailVrificationmsg" class="verification_link">
      Please verify your email address first.
      Or <span (click)="sendVerificationLink()">Click here</span> to resend verification mail.
    </p>
    <p *ngIf="emailVrificationmsg" class="verification_link success_email_verify" style="padding-top: 0px;">
      <img  src="assets/icon/green_tick.svg" class="success_icon" alt="success">
      Verification email sent successfully.
    </p>
  </div>
  <div *ngIf="isSendVerifyLink" class="spinner_email">
    <ion-spinner name="lines"></ion-spinner>
  </div>


</section>