.button_yes_no{
    padding: 11px 0px !important;
    margin-bottom: 0px;
}
.mr-right{
    margin-right: 16px;
}

.heading_yes_no{
    font-size: 16px;
    margin: 0px;
    margin-bottom: 14px;
}